@charset "utf-8";
@import "../../node_modules/bulma/bulma";

$goodgray: #444;

$red1: rgba(229, 6, 0, 0.4);
$red2: rgba(221, 84, 0, 0.4);
$yellow1: rgba(213, 136, 0, 0.4);
$yellow2: rgba(188, 206, 0, 0.4);
$green1: rgba(110, 198, 0, 0.4);
$green2: rgba(38, 191, 0, 0.4);

html, body, div#app {
    width: 100%;
    height: 100%;
    div.container {
        width: 100%;
        height: 100%;
    }
}

div#gameArea {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    input, span {
        border: none;
        text-align: center;
        font-size: 36px;
        color: $goodgray;
        cursor: pointer;
    }
    svg {
        width: 1200px;
        height: 800px;
        border: 1px solid $goodgray;
        border-radius: 5px;
        padding: 20px;
        text {
            font-size: 32px;
        }
        .topRowLetter {
            font-weight: bold;
            line-height: 32px;
        }
    }
}

.letterDistance0 {
    background-color: $green2;
}

.letterDistance1 {
    background-color: $green1;
}

.letterDistance2 {
    background-color: $yellow2;
}

.letterDistance3 {
    background-color: $yellow1;
}

.letterDistance4 {
    background-color: $red2;
}

.letterDistance5 {
    background-color: $red1;
}